@import '../../app.scss';

.pokemonDetails {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemonDetailsCard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $cardColor;
	width: 500px;
	height: 700px;
	border-radius: 50px;
	h2 {
		font-size: 2rem;
		font-weight: 700;
	}
	p {
		font-size: 1.5rem;
		font-weight: 400;
	}
}
.pokemonDetailsHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	gap: 5%;
}
.imgPokemonDetails {
	height: 300px;
	width: 300px;
}
.btnPokemonDetails {
	background-image: url('../../img/back.png');
	background-size: cover;
	height: 40px;
	width: 40px;
	background-color: $cardColor;
	border: none;
}
