@import '../../app.scss';

.errorContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.error {
	color: $cardColor;
	font-weight: 800;
	font-size: 6rem;
	height: 200px;
	width: 300px;
}
