@import '../../app.scss';
.caughtPokemons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 100px);
	padding: 5% 0;
	box-sizing: border-box;
	gap: 5%;
	width: 100vw;
}
.emptyList {
	color: $cardColor;
	font-weight: 800;
	font-size: 2rem;
}
