$backgroundColor: #d94167;
$backgroundColorLight: #e5879e;
$cardColor: #ebebd3;
$cardShadowColor: #c8c8aa;
$shadowBackgroundColor: #9f2745;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: $backgroundColor;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	color: $shadowBackgroundColor;
}
div#root {
	height: 100%;
	width: 100vw;
}
