@import '../../app.scss';
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btnPrev {
	height: 60px;
	width: 60px;
	background-image: url('../../img/prev.png');
	background-size: cover;
	border: none;
	background-color: $backgroundColor;
}
.btnNext {
	height: 60px;
	width: 60px;
	background-image: url('../../img/next.png');
	background-size: cover;
	border: none;
	background-color: $backgroundColor;
}
.pageNumber {
	text-align: center;
	width: 150px;
	font-size: 1.5rem;
	font-weight: 500;
	text-shadow: 3px 3px 3px $shadowBackgroundColor;
	color: $cardColor;
}
