@import '../../app.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100vw;
	background-color: $backgroundColorLight;
	padding: 10px 30px;
	box-sizing: border-box;
}

.logo {
	height: 80px;
	width: 230px;
}

.headerNav {
	display: flex;
	gap: 40px;
}

.headerLink {
	text-decoration: none;
	text-shadow: 3px 3px $backgroundColor;
	font-size: 1.5rem;
	font-weight: 700;
	color: $cardColor;
	&:hover {
		color: $cardShadowColor;
	}
}
.headerLinkActive {
	text-decoration: none;
	text-shadow: 3px 3px $backgroundColor;
	font-size: 1.5rem;
	font-weight: 700;
	color: $shadowBackgroundColor;
}
