@import '../../app.scss';
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $cardColor;
	height: 300px;
	width: 250px;
	border-radius: 10%;
	box-shadow: 10px 10px 5px $shadowBackgroundColor;
}
.pokemonLink {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 700;
	text-shadow: 3px 3px 3px $cardShadowColor;
	color: $shadowBackgroundColor;
	&:hover {
		color: $backgroundColorLight;
	}
}
.cardImg {
	width: 150px;
	height: 150px;
}
.btn {
	background-color: #ffacbf;
	color: $shadowBackgroundColor;
	font-family: 'Roboto Slab', serif;
	font-size: 1rem;
	width: 150px;
	height: 40px;
	padding: 8px 20px;
	border: none;
	border-radius: 10px;
	&:disabled {
		color: $backgroundColorLight;
		&:hover {
			border: none;
			box-shadow: none;
		}
		&:active {
			background-color: #ffacbf;
			color: $backgroundColorLight;
		}
	}
	&:hover {
		box-shadow: 5px 5px 5px $cardShadowColor;
		border: solid 2px $shadowBackgroundColor;
	}
	&:active {
		background-color: $backgroundColor;
		color: #ffacbf;
	}
}
